.tasklist-framework {
    width: 500px;
    height: 600px;
    margin: 10% auto 0 auto;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    color: #4e4e50;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #9fa8a3;
    cursor: pointer;
}

.tasklist-nav {
    margin-bottom: 5px;
    list-style-type: none;
    text-align: right;
}

.tasklist-nav li {
    display: inline;
    margin-left: 10px;

}

.tasklist-view {
    background-color: #c5d5cb;
    height: 100%;
}

.tasklist-view h1 {
    margin: 0px;
    padding: 10px 25px;
    background-color: #e3e0cf;
    line-height: 4rem;
}

.tasklist-view ul {
    padding: 0;
    margin: 0;
}

.tasklist-view ul li {
    display: table;
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    padding-left: 25px;
    list-style-type: none;
    border-bottom: thin solid #e3e0cf;
}

.tasklist-view ul li p {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.tasklist-view ul li input {
    padding: 0;
    background-color: transparent;
    border: none;
    height: 100%;
/*    width: 100%;*/
    outline: none;
}

.complete-task {
    float: right;
    margin-right: 25px;
}